body{
  background:url("https://media.gettyimages.com/photos/low-angle-view-of-sun-shining-through-tree-kuala-lumpur-malaysia-picture-id826740046?s=2048x2048");
  background-size:cover;
  font-family:sans-serif;
  color:black;
  
}
h2{
  margin-top:50px;
  margin-left:10px;
}
a {
  color:yellow;
  text-decoration:blink;
  font-family:sans-serif;
  margin-left:44px;
}
.forgot{
  background:rgba(44,62,80,0.7);
  padding:40px;
  height:340px;
  margin-left:180px;
  margin-top:120px;
  margin:0 auto;
  width:240px;
    
}
input [type=text]
{
  width:240px;
  text-align:center;
  background:transparent;
  border:none;
  border-bottom:
    1px solid #fff;
  font-family:'play',sans-serif;
  font-size:16px;
  font-weight:200px;
  padding:10px 0;
  transition:border 0.5s;
  outline:none;
  color:white;
}
input
[type=button]{
  border:none;
  background:white;
  width:190px;
  color:#000;
  font-size:16px;
  line-height:25px;
  padding:10px 0;
  border-radius:15px;
  cursor:pointer;
  margin-left:30px;
  

}
input[type=button]:hover
{
  color:#fff;
  background-color:black;
  
}
 ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: blue;
  
}

